.navbar {
  top: 0;
  width: 100vw;
  height: 8rem;
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-backdrop-filter: blur(4rem);
  backdrop-filter: blur(4rem);

  &__logo {
    width: auto;
    height: 3.5rem;
  }

  &__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 0 0 60%;

    /* stylelint-disable */
    &-link {
      font-size: 1.5rem;
      font-weight: 400;
      background-image: linear-gradient(
        to right,
        #06f 0%,
        #00ffe0 50%,
        #fcf9ff 50%
      );
      background-size: 200% 100%;
      background-position: 100%;
      transition: background-position 0.3s ease;

      @include clip-text;
    }

    &-link:hover {
      background-position: 0% 100%;
    }
  }
}

.btn {
  width: 20rem;
  height: 4rem;
  color: $light-yellow;
  font-size: 1.5rem;
  font-weight: 400;
  border: 1px groove $blue;
  border-radius: 2rem;
  background-color: $black;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 0.3s ease;
}

.btn:hover {
  background-image: linear-gradient(to right, #06f 0%, #00ffe0 50%, $black 50%);
  background-position: 0 100%;
  border: none;
}
