.hero {
  width: 100vw;
  height: 100rem;

  &__content {
    top: 15%;
    text-align: center;
    font-size: 12vw;
    font-weight: 600;
    position: relative;

    &-text h1:first-of-type {
      background-image: linear-gradient(to right bottom, #f53c95, #04f);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &-text h1:last-of-type {
      background-image: linear-gradient(to right bottom, #004bfa, #02f18e);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &-images {
      top: 15%;
      width: 100%;
      padding: 0 0.5rem;
      position: absolute;
      display: flex;
      justify-content: space-between;

      img {
        width: 15vw;
        height: auto;
      }
    }
  }

  &__desc {
    top: 80%;
    width: 100%;
    text-align: center;
    position: absolute;

    p {
      font-size: 2rem;
      font-weight: 300;
      line-height: 1.7;
    }
  }
}
