.hero {
  width: 100vw;
  height: 100rem;

  &__content {
    top: 15%;
    text-align: center;
    font-size: 12vw;
    font-weight: 600;
    position: relative;

    &-text h1:first-of-type {
      background-image: linear-gradient(to right bottom, #f53c95, #04f);

      @include clip-text;
    }

    &-text h1:last-of-type {
      background-image: linear-gradient(to right bottom, #004bfa, #02f18e);

      @include clip-text;
    }

    &-images {
      top: 15%;
      width: 100%;
      padding: 0 0.5rem;
      position: absolute;
      display: flex;
      justify-content: space-between;

      img {
        width: 15vw;
        height: auto;
      }
    }
  }

  &__desc {
    top: 25%;
    width: 100%;
    text-align: center;
    position: relative;

    p {
      font-size: 1.5vw;
      font-weight: 300;
      line-height: 1.7;
    }

    .download-btn {
      margin: 5% auto;
      position: relative;
    }

    .signal {
      top: -50px;
      left: 165px;
      width: auto;
      height: 100px;
      transform: rotate(-10deg);
      position: absolute;
    }
  }
}
