@media only screen and (max-width: 120rem) {
  .hero {
    height: 80rem;
  }

  .app-window {
    width: 115rem;
    height: 75%;
  }

  .stats-section {
    padding: 5rem 10rem;
  }

  .about {
    height: 60rem;

    &__paragraph {
      font-size: 2rem;
    }
  }

  .support__article {
    width: 100rem;
  }
}

@media only screen and (max-width: 1023px) {
  .hero {
    height: 70rem;
  }

  .app-section {
    display: none;
  }

  .why-synchronize__left {
    flex: 0 0 100%;

    .l-angle {
      display: none;
    }

    .key-points {
      margin-left: 0%;
      margin-top: 5%;
      height: 70%;
    }
  }

  .why-synchronize__right {
    display: none;
  }

  .support__article {
    width: 70rem;
    height: 60rem;
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    width: 89vw;
    height: 5rem;
    padding: 0 5%;
    background-color: #000;
    backdrop-filter: none;
    justify-content: space-between;

    &__open-btn {
      display: none;
    }

    &__logo {
      height: 3rem;
    }

    @media screen and (prefers-reduced-motion: reduce) {
      &__list {
        top: 5rem;
        bottom: 100%;
        right: 0;
        left: 0;
        width: auto;
        height: auto;
        font-size: 2.4rem;
        flex-direction: column;
        z-index: 10;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.5);
        overflow: hidden;
        transition: none;
      }
    }

    &__list {
      top: 5rem;
      bottom: 100%;
      right: 0;
      left: 0;
      width: auto;
      height: auto;
      font-size: 2.4rem;
      flex-direction: column;
      z-index: 10;
      position: fixed;
      background-color: rgba(0, 0, 0, 0.5);
      overflow: hidden;
      transition: all 0.3s ease-in-out;
    }

    input[type='checkbox']:checked ~ &__list {
      bottom: 0;
    }

    @media screen and (prefers-reduced-motion: reduce) {
      .icon-burger .bar {
        width: 30px;
        height: 2px;
        background-color: #fff;
        margin: 5px;
        border-radius: 10px;
        transition: none;
      }
    }

    .icon-burger .bar {
      width: 30px;
      height: 2px;
      background-color: #fff;
      margin: 5px;
      border-radius: 10px;
      transition: all 0.3s ease-in-out;
    }

    /***************** Burger Animation *****************/
    :checked ~ .icon-burger .bar:nth-child(1) {
      transform: translateY(7px) rotate(225deg);
    }

    :checked ~ .icon-burger .bar:nth-child(3) {
      transform: translateY(-7px) rotate(-225deg);
    }

    :checked ~ .icon-burger .bar:nth-child(2) {
      opacity: 0;
    }
  }

  .hero__content {
    top: 10%;
  }

  .hero__content-images {
    flex-direction: column;
    align-items: space-around;
    margin-top: 25%;
    margin-left: 40%;
  }

  .hero__content-images img {
    width: 16vw;
  }

  .hero__desc {
    top: 55%;
  }

  .download-btn {
    transform: scale(0.8);
  }

  .stats-section {
    padding: 5rem;
  }

  .about__content {
    flex-direction: column;
  }

  .about__content-image {
    margin: 1.5rem 5rem;
  }

  .plan-section__title {
    padding: 1rem;
  }

  .plan-section__title h2 {
    font-size: 5vh;
  }

  .plan-section__title p {
    font-size: 1.6rem;
  }

  .plan-section__card {
    width: fit-content;
    padding: 0.5rem;
    border: 2px solid #fcf9ff;
    flex-direction: column;
    overflow-y: scroll;
    margin-top: 2rem;

    &::-webkit-scrollbar {
      width: 0.8rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #000;
      border-radius: 10rem;
    }
  }

  .card {
    width: 25rem;
    height: 35rem;
    margin: 1rem;
    box-shadow: none;

    .card__plan {
      font-size: 1.6rem;
      margin-top: 5%;
      line-height: 1.5;
    }

    .card__plan button {
      height: 3rem;
      margin-top: 5%;
    }
  }

  .support__article {
    margin-top: 10%;
    width: 40rem;

    .container {
      padding: 4rem;

      input[type='text'],
      input[type='email'] {
        width: 98%;
      }
    }

    img {
      display: none;
    }
  }

  .footer__top {
    justify-content: center;
  }

  .footer__top img {
    height: 4rem;
  }

  .footer__bottom {
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1rem;
  }

  .footer__links li {
    font-size: 0.8rem;
  }
}
