@media only screen and (max-width: 120rem) {
  .hero {
    height: 80rem;
  }

  .app-window {
    width: 115rem;
    height: 75%;
  }

  .stats-section {
    padding: 5rem 10rem;
  }

  .about {
    height: 60rem;

    &__paragraph {
      font-size: 2rem;
    }
  }

  .support__article {
    width: 100rem;
  }
}
