*,
**::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: $font-size;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: $font-family;
  background-color: $black;
  color: $light-yellow;
}

a {
  color: $light-yellow;
  text-decoration: none;
}

li {
  list-style: none;
}

h2 {
  font-size: 6rem;
  font-weight: 500;
}

h3 {
  font-size: 3.2rem;
}

h4 {
  font-size: 2.4rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.6rem;
}
